* {
  margin: 2px;
  padding: 0px;
}
/* nav bar ------------------------------------------------------------------------------------------------------------*/

#Nav {
  display: flex;
  width: 100%;
  height: 30px;
  /* background-image: url(https://adn-static1.nykaa.com/media/wysiwyg/2021/common-strip.jpg); */
  background: #b5b1b1;

}

#upNav {
  width: 100%;
  height: 40px;
}

#dnav {
  display: flex;
  justify-content: space-evenly;
  margin: 0px 130px 0px 0px;
  align-items: center;
  width: 60%;
}

.nav-text>a:hover,
.dinner:hover a,.dinner:hover>svg {
  color: grey;
}

.dinner {
  display: flex;
  align-items: center;
}
.dinner a{
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.nav-text {
  /* display: flex; */
  font-size: 14px;
  font-family: Inter, Roboto, Arial, sans-serif;
  /* align-items: center; */
  margin-left: 190px;
  margin-top: 6px;
}


#lowerNav {
  width: 100%;
  height: 65px;
  border-bottom:0.5px solid rgb(202, 199, 199);
  background-color: white;
}

#lower {
  display: flex;
  gap: 20px;
}

#lowerNav {
  display: flex;
  background-color: #fff;
}

#nav-left {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  gap: 20px;
}
.left>a {
  text-decoration-line: none;
  color: black;
  font-weight: bold;
}

.left>a:hover {
  color: #fc2779;

}

#nav-rigth {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-around;
  gap: 35px;

}
#nav-rigth>img{
width: 64px;
margin-right: -37px;
}
#nav-rigth input {
  width: 220px;
  padding: 10px;
  background-color:#EAEAEA;
  border: none;
}
#nav-rigth input:focus{
outline: none;
}
#nav-rigth input:hover{
border-bottom: 2px solid #e91e63;
}
#account{
  text-decoration: none;
  color:black;
}
#account:hover{
  color:#fc2779;
}

#acc {
  display: flex;
  align-items: center;
}
#mainNav{
position:sticky;
z-index: 2;
top: 0;
}
#cart{
  display: flex;
  align-items: center;
 
}
#ct:hover{
  color:#fc2779;
}
/* ------------------ */
#ct{
  text-decoration: none;
  color:black;
}
/* nav bar----------------------------------------------------------------------------------------------------- */



/*------------------------------------- nav botton section Css ---------------------------*/
#navlower {
  margin-left: 10px;
  margin-bottom: 20px;
  width: 300px;
  padding-left: 20px;
}

#navlower a {
  text-decoration: none;
  color: #737373;
  font-size: 13px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*------------------------------------- nav botton section Css ---------------------------*/
#manclothing {
  text-decoration: underline solid rgba(233, 229, 7, 0.993) 9%;
}

#parentofCart {
  display: flex;
  /* border: 1px solid red; */
  margin-top: 10px;
}

#filterdiv {
  /* border: 1px solid blue; */
  width: 25%;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0px;
  border-radius: 9px;
  margin-left: 5px;
  cursor: pointer;

}

#parentofCart :nth-child(2) {
  margin-right: 20px;
}


/* Filter Section Css start here */



/* Filter Section Css  here */

/* Cart Section CSS */
#cartdiv {
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  margin: auto;
  gap: 8px;
  text-align: center;
margin-top: -80px;


   aspect-ratio: 1;
  overflow: scroll;
  overflow-anchor: none;
  padding: 0px 5px;
}

#fashiontrend {
  color: rgb(35, 142, 230);
  /* color: #737373!important; */
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.description {
  font-family: sans-serif;
  font-size: 14px;
  /* white-space: nowrap; */
  width: 250px;

  overflow: hidden;
  text-overflow: ellipsis;
  color: #737373 !important
}
.parentcart h4,
p {
  text-align: start;
}
#cartdiv div {
  border-radius: 10px;
}

#cartdiv img {
  width: 95%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 8px;
}

#cartdiv button {
  padding: 6px 30px;
  background-color: rgb(112, 198, 238);
  border: none;
  border-radius: 2px;
}

.AddtoCart {
  text-decoration: none;
  color: black;
}

#cartdiv button:hover {
  cursor: pointer;
  background-color: rgb(159, 184, 190);
}

#cartdiv div {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.4s ease-out;
}

.parentcart {
  padding: 10px;
  background-color: white;
  cursor: pointer;
}

/* cart Section CSS End here */

#Category {
  padding: 10px 80px;
  font-size: 19px;
  border: none;
}

#Size {
  padding: 10px 72px;
  font-size: 20px;
  border: none;
}

#Sizes {
  padding: 10px 90px;
  font-size: 20px;
  border: none;
}

#brand {
  padding: 10px 80px;
  font-size: 20px;
  border: none;
}

#Design {
  padding: 10px 69px;
  font-size: 20px;
  border: none;
}

option {
  font-size: 18px;
}

select {
  font-size: 18px;
}

/*-----------------------------------------medium media query------------------------------------------- */
@media all and (min-width:550px) and (max-width:900px) {
  #cartdiv {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    width: 98%;
    margin: auto;
    gap: 8px;
    text-align: center;
    padding: 0px 5px;
  }

  #parentofCart {
    display: inline;
  }

  #parentofCart :nth-child(2) {
    margin-right: 0px;
  }

  #filterdiv {
    display: none;
  }

 


}

/* ----------------------------------------small screen media query -------------------------------------------*/
@media all and (min-width:100px) and (max-width:549px) {
  #cartdiv {
    grid-template-columns: repeat(1, 1fr);
    width: auto;
  }

  #parentofCart {
    display: inline;

  }

  #filterdiv {

    display: none;
  }

}

/* //----------------------------image flash effect here----------------------------------// */
.parentcart:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: .4;
  }

  100% {
    opacity: 1;
  }


}

.parentcart figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .2s ease-in-out;
}

.parentcart figure:hover img {
  -webkit-transform: scale(.5);
  transform: scale(1.1);

}


/* //----------------------------image flash effect End here----------------------------------// */